body{
    /*! бегущие облака */
    /* background-color: aqua; */
    /* background-image: url('public/cloud.png'); */
    /* animation: cloud 10s linear infinite; */



    


    /*! все свойства в одной строке */
    /* background: url(public/mountain.jpg) fixed repeat-x; */
    

    background-image: url(public/mountain.jpg); /* вставка изображения */
    background-attachment:fixed; /* прокрутка фона */
    
    /* background-size: 300px; */     /* размер изображения  или в пикселях*/
    background-size:cover;


    
    /* background-position: 50% 0%; */    /* распололжение изображения по оси Х и оси У */    
    /* background-repeat:repeat-x; */     /* повтор изображения */
    
    
    
    
    
    /* ?????????? не показывать!!! */
    background-clip: text;
    -webkit-background-clip: text;
    /* color: transparent !important; */
}

  html {
      scroll-behavior:smooth; /* Плавный скролл при нажатии */
  }

  @keyframes cloud {
    from{
      /* margin-left: 0px; */
      /* background-position-x: 500px; */
    }
    to{
        /* margin-left: 500px; */
        /* background-position-x: 0px; */
    }
  }



/*! Задание с воротами */

#container2 {
    margin-top: 50px;
    perspective: 800px;
    background-color: red;
    width: 500px;
    border: 1px solid #000;
}
#hello {
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
    z-index: -1;
}

#left, #right {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: purple;
    border: 1px solid red;
}
#left{
    transform-origin: 0%;
}
#right{
    transform-origin: 100%;
}
#container2:hover>#left {
    transition: 2s;
    transform: rotateY(27deg);
    
}
#container2:hover #right {
    transition: 2s;
    transform: rotateY(-27deg);
    
}
/*! Конец задания с воротами */




  /*! Задание с картинками */
  .cat, .dog {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    margin: 0px;
    transition: 1s;
    margin-top: 0px;
}


.text {
    position: absolute;
    width: 100px;
    transform: translate(90px, -70px);
    color: red;
    font-size: 2em;
}

#container {
    margin-top: 50px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 504px;
    height: 313px;
}

#container>div {
    overflow: hidden !important;
}
.cat:hover, .dog:hover{
    transform: scale(4.05);
    transition: 1s;
    /* transform:rotateX(90deg); */
}

#container>div:hover {
    filter: grayscale(.9);
}
/*! Конец задания с картинками */






/*! задание с летающими предметами */
.moveImage {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    /* animation: animCalc 2s alternate 0s forwards; */
}

.calc {
    margin-left: 5%;
    transform-origin: 0%;
    animation: animCalc 2s alternate 0s forwards;
}
.book {
    margin-left: 20%;
    animation: animCalc 2s alternate .5s forwards;
    /* animation-delay: 1.5s; */
}
.pallete {
    margin-left: 30%;
    animation: animCalc 2s alternate 1s forwards;
}
.pencil {
    margin-left: 40%;
    animation: animCalc 2s alternate 1.5s forwards;
}
.paper {
    margin-left: 50%;
    animation: animCalc 2s alternate 2s forwards;
}

@keyframes animCalc {
    from {
        margin-top: 300px;
        /* rotate: 0deg; */
    }
    to {
        margin-top: 0px;
        /* rotate: 1080deg; */
    }
}
/*! Конец задания с летающими предметами */

