/* @import url(max600.css) screen and (max-width:600px); */


body {
    /*! бегущие облака */
    background-attachment: fixed;
    background-size: cover;
    cursor: pointer;
    background-color: gainsboro !important;
}

/* * {
    font-size: 24px;
} */





:root {
    --main-bg-bg-color:yellow;
    --main-width:100px;
}


.test {
    background-color: var(--main-bg-bg-color);
    width: var(--main-width);
}
























#dinoz {
    width: 200px;
    animation: moveDino .5s ease alternate infinite;
    border-radius: 5%;
}

@keyframes moveDino {
    from {}

    to {
        margin-top: 500px;
        /* rotate: 360deg; */
        margin-left: 300px;
    }
}


/*! Задание с воротами */

#container2 {
    margin-top: 50px;
    perspective: 800px;
    background-color: red;
    width: 500px;
    border: 1px solid #000;
}

#hello {
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
    z-index: -1;
}

#left,
#right {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: purple;
    border: 1px solid red;
}

#left {
    transform-origin: 0%;
}

#right {
    transform-origin: 100%;
}

#container2:hover>#left {
    transition: 2s;
    transform: rotateY(27deg);

}

#container2:hover #right {
    transition: 2s;
    transform: rotateY(-27deg);

}

/*! Конец задания с воротами */




/*! Задание с картинками */
.cat,
.dog {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    margin: 0px;
    transition: 1s;
    margin-top: 0px;
}


.text {
    position: absolute;
    width: 100px;
    transform: translate(90px, -70px);
    color: red;
    font-size: 2em;
}

#container {
    margin-top: 50px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 504px;
    height: 313px;
}

#container>div {
    overflow: hidden !important;
}

.cat:hover,
.dog:hover {
    transform: scale(4.05);
    transition: 1s;
    /* transform:rotateX(90deg); */
}

#container>div:hover {
    filter: grayscale(.9);
}

/*! Конец задания с картинками */






/*! задание с летающими предметами */
.moveImage {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    /* animation: animCalc 2s alternate 0s forwards; */
}

.calc {
    margin-left: 5%;
    transform-origin: 0%;
    animation: animCalc 2s alternate 0s forwards;
}

.book {
    margin-left: 20%;
    animation: animCalc 2s alternate .5s forwards;
    /* animation-delay: 1.5s; */
}

.pallete {
    margin-left: 30%;
    animation: animCalc 2s alternate 1s forwards;
}

.pencil {
    margin-left: 40%;
    animation: animCalc 2s alternate 1.5s forwards;
}

.paper {
    margin-left: 50%;
    animation: animCalc 2s alternate 2s forwards;
}

@keyframes animCalc {
    from {
        margin-top: 300px;
        /* rotate: 0deg; */
    }

    to {
        margin-top: 0px;
        /* rotate: 1080deg; */
    }
}

/*! Конец задания с летающими предметами */




.bridge_text::first-line {
    color: red;
    padding: 10px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid red;
    background-color: bisque;
}

.bridge_text:nth-child(even) {
    padding: 10px;
    color: green;
}

.bridge_text:nth-child(odd)::before {
    content: '';
    background-color: goldenrod;
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(public/city/road3.jpg);
    background-size: contain;
}


.bridge_text:hover {
    transition: 1s;
    color: aqua;
}

.bridge_text2:nth-last-child(2) {
    color: red;
    font-size: 1.4em;
    display: inline-block;
    margin: 10px;
}

.bridge_text:only-child {
    text-transform: capitalize;
    background-color: blue;
}

#test_child {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    box-sizing: border-box;
    /* width: 500px; */
    position: relative;
}

/* 
#test_child div:nth-child(even){
    border: 2px solid red;
    width: 1000px;
    position: relative;
} */

#mark_child:nth-of-type(even) {
    border: 2px solid red;
    width: 300px;
    float: left;
}

#mark_child:nth-of-type(odd) {
    border: 2px solid blue;
    width: 300px;
    float: right;
}

#fff {
    width: calc(50% - 50px);
    padding: 30px;
    /* box-sizing: border-box; */
}

#fff:before,
#fff:after {
    content: '\bb ';
    font-size: 2em;
}

#test_picture {
    display: none;
}


/* 
@media screen and (max-width:1000px) {
    body {
        background-color: aliceblue;
    }

    #pseudoel li {
        font-size: 1.2em;
        width: 430px !important;
        border: 1px solid #000;
        padding: 5px;
    }
}
 */





/* @media screen and (max-width:800px) {
    body {
        background-color: blue;
    }

    #pseudoel li {
        font-size: 1.2em;
        width: 275px !important;
        border: 1px solid #000;
        padding: 5px;
        display: none;
    }

} */




/* @media screen and (max-width:600px) {

 } */




/*! @media (min-width:800px) and (max-width:830px) {
    body {
        background-color: aqua;
    }
}


#numm {
    color: orange;
}

@media print {
    #test_bridge {
        border: 12px solid green;
        display: none;
    }
} */


   
#border_content {
    background-color: rgb(171, 168, 168);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid #000;
    padding: 20px;
}

#border_content a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

#border_content a:hover {
    color: lightcyan;
}
    
#logo {
    border: 3px solid #000;
    width: 100px;
    padding: 5px;
}

#border_content nav {
    display: flex;
    gap: 20px;
    
    
}
#border_content input {
    width: 100px;
    border: 3px solid;
}

#border_content main {
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    padding: 10px;

    flex-basis: 66%;
}

#bottom_aside{
display: flex;
flex-direction: column;
/* flex-wrap: nowrap; */
gap: 10px;
padding-right: 10px;
}

#bottom_aside div{
display: flex;
/* flex-wrap: wrap; */
gap: 5px;
/* border: 3px solid red;    */
justify-content: center

}

#bottom_aside div div{
    height: 47.5px;
    width: calc(25% - 5px);
    max-width: 60px;
    background-color: gray;
    border: 1px solid #000;
}

#bottom_aside div div:nth-last-child(1){
    background-color: pink;
    order: -2;
}

#bottom_aside div div:nth-last-child(2){
    background-color: black;
    order: -3;
}


@media screen and (max-width:800px) {
    #grid_menu {
        grid-template-columns: 3fr 1fr 1fr !important;
    }

    #grid_menu div:nth-child(4n-3) {
        display: none;
    
    }
    #hide_div {
        display: none !important;
    }
    #email_message  {
        margin-top: 20px;
    }

    #email_message div {
        display: flex;
        align-items: center;
        color: transparent;
        margin-left: 30%;
        margin-right: 20px;
        padding-left: 14px;
        padding-right: 10px;

        width: 40px !important;
    }
    
    #show_div {
        display: block !important;
    }
}






@media screen and (max-width:600px) {
    #grid {
        background-color: aqua !important;
        grid-template-columns: 2fr 1fr 1fr !important;
        grid-template-rows: 3fr !important;
        grid-gap: 20px;
    }
    #grid img {
        grid-row: 1/3;
        width: 150px !important;
    }

    #grid div {
        margin-top: -150px;
    }
}





