body{
    background-color: #19b921;
    /* background-image: url('public/cloud.png'); */
    /* animation: cloud 10s linear infinite; */
    /* border: 2px solid red; */
  }

  @keyframes cloud {
    from{
      /* margin-left: 0px; */
      /* background-position-x: 500px; */
    }
    to{
        /* margin-left: 500px; */
        /* background-position-x: 0px; */
    }
  }

.cat, .dog {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}
.text {
    position: absolute;
    width: 100px;
    transform: translate(90px, -70px);
    color: red;
    font-size: 2em;
}

#container {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    width: 528px;
    height: 313px;
}

#container>div {
}




.moveImage {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    /* animation: animCalc 2s alternate 0s forwards; */
}

.calc {
    margin-left: 5%;
    transform-origin: 0%;
    animation: animCalc 2s alternate 0s forwards;
}
.book {
    margin-left: 20%;
    animation: animCalc 2s alternate .5s forwards;
    /* animation-delay: 1.5s; */
}
.pallete {
    margin-left: 30%;
    animation: animCalc 2s alternate 1s forwards;
}
.pencil {
    margin-left: 40%;
    animation: animCalc 2s alternate 1.5s forwards;
}
.paper {
    margin-left: 50%;
    animation: animCalc 2s alternate 2s forwards;
}

@keyframes animCalc {
    from {
        margin-top: 300px;
        /* rotate: 0deg; */
    }
    to {
        margin-top: 0px;
        /* rotate: 1080deg; */
    }
}